
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header{

}
/* action style */
.action-title{
  display: flex;
  justify-content:space-around;
  width: 1140px;
  height: 151px;
  padding-top: 20px;

}
.title{
  color: #4E47FF;
  width: 100px;
  height: 40px;
  font-size: 30px;
}
.btn-title{
  width: 130px;
  height: 60px;
  background-color: #4E47FF;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}
.action-footer{
font-size: 60px;
font-weight: bold;

}
.title-footer{
  text-align: center;
  width:900px;
height: 240px;


}
/* banner sty;e */
.action-section{
  display:flex;
  justify-content: space-between;
align-items: center;
margin: 60px;
padding: 40px;
}
.text-content h2{
  font-size: 28px;
margin-bottom: 10px;
color: #252432;
}

.text-content p {
  max-width: 350px;
margin-bottom: 20px;
color:#252432 ;
}

.preview-btn {
  background-color: #4e3efc;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.image-content img {
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
/* strat section style */
